* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e2e2b6;
  /*background-image: url("backimg.jpg");*/
  background-size: cover;
}

#mynavbar {
  background-color: rgba(0, 0, 0, 1);
  height: 50px;
  width: 100%;
  top: 0px;
  position: fixed;
  z-index: 30;
}
#mynavbar h1 {
  margin-top: 10px;
  margin-left: 20px;
  color: rgb(247, 61, 61);
}
#uolist {
  display: flex;
}
#uolist li {
  margin-top: 15px;
  margin-left: 300px;
  font-size: 20px;
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.div1 {
  margin: 75px;
  margin-top: 10px;

  color: red;

  background-color: rgba(255, 255, 255, 0.25);
  border: 5px solid rgba(36, 166, 80, 0.75);
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 92%;
}
#footer {
  margin-bottom: 0px;
  padding: 100px;
  text-align: center;
  height: 200px;
  width: 100%;
  color: aqua;
  z-index: 100px;
  box-shadow: 2;
  background-color: black;
  position: static;
  bottom: 0px;
}
.div2 {
  margin-left: 20px;
  height: 400px;
  width: 22%;
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 2%;
}
.div2:hover {
  height: 430px;
  box-shadow: 10px 10px 10px gray;
  transition-timing-function: linear;
}

.h1 {
  margin-top: 180px;
  margin-left: 200px;
}
.div2 div {
  margin-top: 276px;
  height: 100px;
  width: 100%;
  color: #03346e;
  font-size: 20px;
  background-color: #6eacda;
}
.div2 div:hover {
  height: 130px;
}
